.navbar {
    width: 100%;
    background-color: var(--bg-alt); 
    padding: 1rem 6%;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 2.5);
    margin-bottom: 16px;
  }
  
  .navbar-title {
    font-size: 2rem; 
    color: blue;
    font-weight: bold;
    margin: 0;
  }
  
  .navbar-link {
     background-color: black;
     padding: 4px;
     border-radius: 10px;
     font-size: 20px;
     margin: 15px;
     border: 3px solid green;
     width: 50px;
     height: 35px;
  }
  .navbar-link:hover{
    box-shadow: 0px 0px 5px 5px white;
    background: yellow;
  }

  
  